html{
    background-image: url('/Tienda/assets/img/bamboo.jpg');
}

table{
    text-align: center;
    width: 100%;
}

td{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc; 
}

.button_small{
    background-color: #ed4242;
    color:white;
    padding: 20px;
}

#menu ul{
    margin-top:10px;
}

*{
    padding:0px;
    margin:0px;
}

#berk{
    width:  300px;
    height: 250px;
}

a{
    color:#ed4242;
}

#header{
    background-color: black;
}

a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

#home{
    color:white;       
    font-size: 50px;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
}

.product img{
    width: 200px;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #1e1e1e;
    /*background-image: url("../img/bamboo.jpg");*/
}

#menu ul{
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    font-family: 'Advent Pro', sans-serif;
    border-bottom: 4px solid #ed4242;
}

#menu li{
    font-family: 'Advent Pro', sans-serif;
    float: left;
}

#menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
}

#content{
  margin:0px auto;
  overflow: hidden;
  background: white;
}

#lateral{
    border: 5px solid black;
    width: 22%;
    float: left;
    margin-top:20px;
    margin-left:10px;
    min-height: 800px;
}

/*
#lateral .bloack_aside{
    display:block;
    width: 90%
    padding-top: 15px;
    margin: 5px auto;
    padding: 10px;
}
*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"], select, textarea{
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="number"]:focus,
input[type="password"],
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,textarea:focus{
    border: 1px solid black;
    color:black;
}

input[type="button"],
input[type="submit"],
button{
    margin-left: 25px;
    margin-top: 15px;
    display: block;
    width:83%;
    padding: 5px;
    color: white;
    background:#ed4242;
    border: 1px solid white;
    cursor:pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    color: white;
    background:#ed4242;
    border: 1px solid white;
    cursor:pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.button-small{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 2px;
    color:black;
    border: 1px solid white;
    cursor:pointer;
    padding-left: 2px;
    padding-right: 2px;
}

label{
    margin-top:10px;
    display: block;
}

#lateral ul{
   color:white;
   /*
   margin-top: 60px; 
   margin-bottom: 20px; 
   */
}
#lateral ul li a{
    color: white;
    font-size: 14px;
}

#lateral ul li{
    background-color: #ed4242;
    color: white !important;
    list-style: none;
    margin-top: 5px; 
    text-align: center;
    padding: 5px;
    margin-bottom: 5px; 
}

input[type="file"]{
    width: 50%;
    margin-left: 25px;
    display: block;
    font-family: 'Advent Pro', sans-serif;
}


option,
select,
label,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],textarea{
    font-family: 'Advent Pro', sans-serif;
    display: block;
    width: 80%;
    margin-left: 25px;
}

.navo{
    transition: transform .2s;
    text-align: center;
}

.navo:hover{
    transform: scale(1.3); 
    opacity: 0.7;
}

a#primero{
    background: #ed4242;
    background-color: #ed4242;
}

#lateral h3{
    display: blocks;
    color:white;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: black;
    border-bottom: 4px solid #ed4242;
    font-family: 'Advent Pro', sans-serif;
}

#central{
    width: 75%;
    float: right;
    border-left: 1px solid #ccc;
    min-height: 500px;
    box-shadow: -5px -1px 5px #ddd;
}

#central h1{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
}

div.product{
    width: 30%;
    border-right:1px solid white;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

div.product h2{
    font-size: 15px;
}

#footer{
    text-align: center;
    padding-top: 10px;
    padding-block: 10px;
    color:white;
    background-color: black;
    clear:both;
    margin-top: 10px;
    border-top : 5px solid #ed4242;
}